html, body {
  zoom: 100%;
  overflow: hidden;
  margin: 0;
}

.container,
.container * {
  box-sizing: border-box;
}
.container {
  background: #f9fafb;
  height: 757px;
  position: relative;
}
.container2 {
  background: #208aae;
  width: 100%;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container3 {
  padding: 11.94px 15.92px 11.94px 15.92px;
  width: 1243px;
  height: 64px;
  position: absolute;
  left: 108px;
  top: 0px;
}
.container4 {
  width: 1256px;
  height: 39px;
  position: absolute;
  left: 16px;
  top: 12px;
}
.container5 {
  width: 210.45px;
  height: 27.87px;
  position: absolute;
  left: 0px;
  top: 5.97px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  line-height: 27.87px;
  font-weight: 700;
  position: absolute;
  left: -62px;
  top: -8.97px;
  width: 136px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container6 {
  width: 0.99px;
  height: 39.61px;
  position: absolute;
  left: 1297.33px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.container7 {
  padding: 31.85px 15.92px 31.85px 15.92px;
  width: 1352px;
  height: 757px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.container8 {
  width: 1410.18px;
  height: 67.67px;
  position: absolute;
  left: -58px;
  top: 151px;
}
.heading {
  width: 1072.81px;
  height: 35.83px;
  position: absolute;
  left: 42.79px;
  top: 0px;
}
.barangay-residents-information-system {
  color: #1f2937;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25.377195358276367px;
  line-height: 35.83px;
  font-weight: 700;
  position: absolute;
  left: 528px;
  top: -12px;
  width: 425px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paragraph {
  width: 428.92px;
  height: 23.88px;
  position: absolute;
  left: -4.98px;
  top: 33.84px;
}
.container9 {
  width: 764px;
  height: 95px;
  position: absolute;
  left: 298px;
  top: 224px;
}
.manage-residents {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.534504890441895px;
  line-height: 23.88px;
  font-weight: 400;
  position: absolute;
  left: 290px;
  top: -5px;
  width: 167.89px;
  height: 20.9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container10 {
  background: #ffffff;
  border-radius: 7.96px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px;
  padding: 24.88px;
  width: 309.97px;
  height: 198.06px;
  position: absolute;
  left: 729.87px;
  top: 469.41px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 1px 1.99px 0px rgba(0, 0, 0, 0.05);
}
.container11 {
  background: #dbeafe;
  border-radius: 9950.85px;
  padding: 11.94px;
  width: 47.77px;
  height: 47.77px;
  position: absolute;
  left: 46.55px;
  top: 73.28px;
}
.image-2 {
  width: 50%;
  height: 23.89px;
  position: absolute;
  right: 25.55%;
  left: 24.44%;
  top: 12.01px;
  object-fit: cover;
  aspect-ratio: 1;
}
.container12 {
  width: 163.26px;
  height: 51.75px;
  position: absolute;
  left: 104.97px;
  top: 73.28px;
}
.heading2 {
  width: 163.26px;
  height: 27.87px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.clearance-certificate {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16.91813087463379px;
  line-height: 27.87px;
  font-weight: 500;
  position: absolute;
  left: 0.48px;
  top: 0.13px;
  width: 184.2px;
  height: 26.74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph2 {
  width: 163.26px;
  height: 23.88px;
  position: absolute;
  left: 0.48px;
  top: 25.87px;
}
.make-a-certificate {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.534504890441895px;
  line-height: 23.88px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 163.26px;
  height: 20.9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container13 {
  background: #ffffff;
  border-radius: 7.96px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px;
  padding: 24.88px;
  width: 309.97px;
  height: 198.06px;
  position: absolute;
  left: 358.5px;
  top: 469.41px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 1px 1.99px 0px rgba(0, 0, 0, 0.05);
}
.image-7 {
  width: 23.89px;
  height: 23.89px;
  position: absolute;
  left: 11.88px;
  top: 11.88px;
  object-fit: cover;
  aspect-ratio: 1;
}
.report-case {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16.91813087463379px;
  line-height: 27.87px;
  font-weight: 500;
  position: absolute;
  left: 0.48px;
  top: 0.13px;
  width: 184.2px;
  height: 26.74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.file-new-report {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.534504890441895px;
  line-height: 23.88px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 163.26px;
  height: 20.9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container14 {
  background: #ffffff;
  border-radius: 7.96px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px;
  padding: 24.88px;
  width: 309.97px;
  height: 198.06px;
  position: absolute;
  left: 535.77px;
  top: 245.6px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 1px 1.99px 0px rgba(0, 0, 0, 0.05);
}
.container15 {
  background: #dbeafe;
  border-radius: 9950.85px;
  padding: 11.94px;
  width: 47.77px;
  height: 47.77px;
  position: absolute;
  left: 47.54px;
  top: 73.28px;
}
.image-4 {
  width: 23.89px;
  height: 23.89px;
  position: absolute;
  left: 11.88px;
  top: 11.88px;
  object-fit: cover;
  aspect-ratio: 1;
}
.container16 {
  width: 163.26px;
  height: 51.75px;
  position: absolute;
  left: 102.99px;
  top: 73.28px;
}
.resident-records {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16.91813087463379px;
  line-height: 27.87px;
  font-weight: 500;
  position: absolute;
  left: -0.3px;
  top: 0px;
  width: 149.54px;
  height: 26.74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph3 {
  width: 163.26px;
  height: 23.88px;
  position: absolute;
  left: 0px;
  top: 27.87px;
}
.resident-info {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.534504890441895px;
  line-height: 23.88px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 163.26px;
  height: 20.9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container17 {
  background: #ffffff;
  border-radius: 7.96px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px;
  padding: 24.88px;
  width: 309.97px;
  height: 198.06px;
  position: absolute;
  left: 884.36px;
  top: 245.6px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 1px 1.99px 0px rgba(0, 0, 0, 0.05);
}
.container18 {
  background: #dbeafe;
  border-radius: 9950.85px;
  padding: 11.94px;
  width: 47.77px;
  height: 47.77px;
  position: absolute;
  left: 51.5px;
  top: 73.28px;
}
.image-3 {
  width: 23.89px;
  height: 23.89px;
  position: absolute;
  left: 11.88px;
  top: 11.88px;
  object-fit: cover;
  aspect-ratio: 1;
}
.container19 {
  width: 163.26px;
  height: 51.75px;
  position: absolute;
  left: 106.96px;
  top: 73.28px;
}
.blotter-records {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16.91813087463379px;
  line-height: 27.87px;
  font-weight: 500;
  position: absolute;
  left: -0.3px;
  top: 0px;
  width: 142.61px;
  height: 26.74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.record-of-cases {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.534504890441895px;
  line-height: 23.88px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 163.26px;
  height: 20.9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container20 {
  background: #ffffff;
  border-radius: 7.96px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px;
  padding: 24.88px;
  width: 309.97px;
  height: 198.06px;
  position: absolute;
  left: 187.17px;
  top: 238.67px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 1px 1.99px 0px rgba(0, 0, 0, 0.05);
}
.frame {
  width: 23.88px;
  height: 23.88px;
  position: absolute;
  left: 12.28px;
  top: 12.05px;
  overflow: visible;
}
.new-resident {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16.91813087463379px;
  line-height: 27.87px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.register-a-new-resident {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.534504890441895px;
  line-height: 23.88px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 163.26px;
  height: 20.9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 5.83px;
  top: 78.33px;
  overflow: hidden;
}
.container21 {
  background: #ffffff;
  border-radius: 7.96px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px;
  padding: 24.88px;
  width: 310px;
  height: 175px;
  position: absolute;
  left: 0px;
  top: 51px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 1px 1.99px 0px rgba(0, 0, 0, 0.05);
}
.button {
  background: #ffffff;
  border-style: solid;
  border-color: #898989;
  border-width: 1px;
  padding: 3.98px 11.94px 3.98px 11.94px;
  width: 289px;
  height: 33px;
  position: absolute;
  left: 10px;
  top: 134px;
}
.logout {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12.937394142150879px;
  line-height: 19.9px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 6px;
  width: 73px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame2 {
  width: 22.78px;
  height: 20.8px;
  position: absolute;
  left: 10px;
  top: 7px;
  overflow: visible;
}
.button2 {
  background: #ffffff;
  border-style: solid;
  border-color: #898989;
  border-width: 1px;
  padding: 3.98px 11.94px 3.98px 11.94px;
  width: 289px;
  height: 33px;
  position: absolute;
  left: 10px;
  top: 92px;
}
.history {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12.937394142150879px;
  line-height: 19.9px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 6px;
  width: 73px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-14 {
  width: 22.78px;
  height: 20.08px;
  position: absolute;
  left: 10px;
  top: 5px;
  object-fit: cover;
}
.button3 {
  background: #ffffff;
  border-style: solid;
  border-color: #898989;
  border-width: 1px;
  padding: 3.98px 11.94px 3.98px 11.94px;
  width: 289px;
  height: 33px;
  position: absolute;
  left: 10px;
  top: 50px;
}
.settings {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12.937394142150879px;
  line-height: 19.9px;
  font-weight: 400;
  position: absolute;
  left: 41px;
  top: 6px;
  width: 61px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-12 {
  width: 22.78px;
  height: 22.78px;
  position: absolute;
  left: 11px;
  top: 5px;
  object-fit: cover;
  aspect-ratio: 1;
}
.button4 {
  background: #ffffff;
  border-style: solid;
  border-color: #898989;
  border-width: 1px;
  padding: 3.98px 11.94px 3.98px 11.94px;
  width: 289px;
  height: 33px;
  position: absolute;
  left: 10px;
  top: 8px;
}
.user-guide {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12.937394142150879px;
  line-height: 19.9px;
  font-weight: 400;
  position: absolute;
  left: 41px;
  top: 6px;
  width: 72px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-13 {
  width: 22.08px;
  height: 22.08px;
  position: absolute;
  left: 11px;
  top: 6px;
  object-fit: cover;
  aspect-ratio: 1;
}
.container22 {
  background: #1f2937;
  padding: 11.94px 0px 11.94px 0px;
  width: 1352px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 713px;
}
.button5 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 12px;
  object-fit: cover;
  aspect-ratio: 1;
}
