body { 
  margin:0; 
  padding:0; 
  cursor:defult; 
  user-select:none; 
  background:#F9FAFB; 
  font-family:sans-serif; 
} 

#header { 
  gap:65.5%; 
  width:100%; 
  height:66px; 
  display:flex; 
  padding:.1px; 
  background:#208AAE; 
  box-sizing:border-box; 
} 

#header .residentp { 
  margin:0; 
  padding-top:1%; 
  padding-bottom:1%; 
  color:#FFFFFF; 
  margin-left:2%; 
  font-size:27px;
}

#header .back { 
  font-size:22px; 
  color:white; 
  margin-left:16%; 
  margin-top:22px; 
  cursor: pointer; 
} 

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border:1px solid #D1D5DB;
  border-radius:9px;
  margin: 3% 15% 10px 20%;
}

.tabs { 
  display: flex; 
  gap: 20px; 
  border-bottom: 2px solid #e2e8f0; padding-bottom: 10px; 
}

.tab { 
  font-weight: 500; 
  color: #2563eb; 
  cursor: pointer; 
  position: relative; 
} 

.banner {
  display: block;
  border: solid;
  padding: 0px 0px 0px 40px;
  border-radius: 9px;
  border-color: #BBF7D0;
  background-color: #F0FDF4;
  color: #166534;
  margin: 15px 0px 20px 0px;
}

.Add-Resident {
  display: block;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
}

.Resident-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border: 1px solid #D1D5DB;
  padding: 20px;
  border-radius: 9px;
  margin: 10px 0px 30px 0px;
  background-color: #fff;
}


.profile-picture {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #999;
}

.Resident-info h3 {
  margin: 0px;
  font-size: 20px;
  color: #333;
}

.inline-details {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.inline-details p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
