    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Barangay Residents Information System</title>
        <link rel="stylesheet" th:href="@{/Css/homepage.css}">
    </head>
    <body>
    <div class="container">
        <div class="container2">
            <div class="container3">
                <div class="container4">
                    <div class="container5">
                        <div class="home">Home</div>
                    </div>
                    <div class="container6"></div>
                </div>
            </div>
        </div>
        <div class="container7">
            <div class="container8">
                <div class="heading"></div>
                <div class="barangay-residents-information-system">
                    Barangay Residents Information System
                </div>
                <div class="paragraph"></div>
            </div>
            <div class="container9">
                <div class="manage-residents">Manage Residents</div>
            </div>
            <div class="container10">
                <div class="container11">
                    <img class="image-2" src="image-20.png" />
                </div>
                <div class="container12">
                    <div class="heading2">
                        <div class="clearance-certificate">Clearance/Certificate</div>
                    </div>
                    <div class="paragraph2">
                        <div class="make-a-certificate">Make a Certificate</div>
                    </div>
                </div>
            </div>
            <div class="container13">
                <div class="container11">
                    <img class="image-7" src="image-70.png" />
                </div>
                <div class="container12">
                    <div class="heading2">
                        <div class="report-case">Report Case</div>
                    </div>
                    <div class="paragraph2">
                        <div class="file-new-report">File new report</div>
                    </div>
                </div>
            </div>
            <div class="container14">
                <div class="container15">
                    <img class="image-4" src="image-40.png" />
                </div>
                <div class="container16">
                    <div class="heading2">
                        <div class="resident-records">Resident Records</div>
                    </div>
                    <div class="paragraph3">
                        <div class="resident-info">Resident Info</div>
                    </div>
                </div>
            </div>
            <div class="container17">
                <div class="container18">
                    <img class="image-3" src="image-30.png" />
                </div>
                <div class="container19">
                    <div class="heading2">
                        <div class="blotter-records">Blotter Records</div>
                    </div>
                    <div class="paragraph3">
                        <div class="record-of-cases">Record of cases</div>
                    </div>
                </div>
            </div>
            <div class="container20">
                <div class="container11">
                    <img class="frame" src="frame0.svg" />
                </div>
                <div class="container12">
                    <div class="heading2">
                        <div class="new-resident">New Resident</div>
                    </div>
                    <div class="paragraph3">
                        <div class="register-a-new-resident">Register a new resident</div>
                    </div>
                </div>
                <div class="frame-1"></div>
            </div>
            <div class="container21">
                <div class="button">
                    <div class="logout">Logout</div>
                    <img class="frame2" src="frame1.svg" />
                </div>
                <div class="button2">
                    <div class="history">History</div>
                    <img class="image-14" src="image-140.png" />
                </div>
                <div class="button3">
                    <div class="settings">Settings</div>
                    <img class="image-12" src="image-120.png" />
                </div>
                <div class="button4">
                    <div class="user-guide">User Guide</div>
                    <img class="image-13" src="image-130.png" />
                </div>
            </div>
        </div>
        <div class="container22"></div>
        <img class="button5" src="button4.png" />
    </div>


    <script th:src="@{/Js/homepage.js}"></script>
    </body>
    </html>
